@model MVC.Models.DeliveryPouch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeliveryPouch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pouch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pouch.PouchID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery.DeliveryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeliveryPouchID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
