@model MVC.Models.VehicleRefuelsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyVehicle.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyVehicle.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyVehicle.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyVehicle.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyVehicle.ConstructionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyVehicle.ConstructionYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyVehicle.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyVehicle.Mileage)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Refuel
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Price
                </th>
                <th>
                    Vehicle
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Refuels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefuelDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RefuelID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RefuelID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RefuelID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MyVehicle.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
