@model IEnumerable<MVC.Models.PouchViewModel>

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<p>
    <a asp-action="Index">Index</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsagePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingDays)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsagePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingDays)
                </td>
            </tr>
        }
    </tbody>
</table>
