@model MVC.Models.Delivery

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastOrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastOrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeliveryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
