@model MVC.Models.Dialysis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dialysis</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DialysisDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DialysisDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DialysisTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DialysisTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pouch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pouch.PouchID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DialysisID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
