@model IEnumerable<MVC.Models.Dialysis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Overview">show overview</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DialysisDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DialysisTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pouch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DialysisDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DialysisTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pouch.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DialysisID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DialysisID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DialysisID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
